#_text-decoration {
  @decoration-char-repeat: 100;

  @solid : '—';
  @dashed: '-';
  @dotted: '·';
  @double: '=' -1px;
  @wave  : '~' -1px;

  @underline   : .5em;
  @overline    : -.6em;
  @line-through: 0;

  @letter-spacing: 0;

  .style(@name) when (iskeyword(@name)) {
    .style(@@name);
  }

  .style(@options) when (length(@options)>=2) {
    @letter-spacing: extract(@options, 2);
    .style(extract(@options, 1));
  }

  .style(@char) when (isstring(@char)) {
    @content: ~`(function(c,r) {var str = []; c = c.substr(1, c.length-2); for (var i=0; i<r; i++) str.push(c); return '"'+str.join('')+'"';})("@{char}", @{decoration-char-repeat})`;
  }

  .line(@line) when (iskeyword(@line)) {
    @position: @@line;
  }

  .line(@line) when (isnumber(@line)) {
    @position: @line;
  }

  .draw(@line, @style, @color, @opacity) {
    .line(@line);
    .style(@style);
    
    position: relative;
    z-index: 4;
    
    &:before {
      z-index: 5;
      line-height: 1.2em;
      position: absolute;
      left: 0; right: 0; top: 0;
      overflow: hidden;
      white-space: nowrap;
      margin-top: @position;
      content: @content;
      opacity: @opacity;
      color: @color;
      letter-spacing: @letter-spacing;
    }
  }

}

.text-decoration(@line: underline, @style: solid, @color: inherit, @opacity: 1) {
  #_text-decoration .draw(@line, @style, @color, @opacity);
}